// styles only for form

html {
    background-color: #999;
    padding: 40px 20px;
}
body {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

form {
    label {
        display: block;
        margin-top: 15px;
    
        &.required::after {
            content: '\2732';
            color: #dd3333;
            vertical-align: super;
            font-size: 75%;
            padding-left: 5px;
        }
    }

    .form--actions {
        padding: 30px 0;

        a {
            text-decoration: none;
        }

        .nav--next,
        .nav--send {
            font-weight: bold;
            margin-left: 20px;
            text-transform: uppercase;
        }

        .nav--prev::before {
            content: '\21E6 ';
        }
        .nav--next::after {
            content: ' \21E8';
        }
        .nav--send::after {
            content: ' \2713';
        }


        &__main {
            display: block;
            float: right;
            text-align: right;
        }
    }
}