// styles only for form

@import '../../../general/assets/general.scss';

html {
    background-color: #ccc;
    padding: 40px 20px;
}

main {
    background-color: transparent;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;

    &::after {
        content: "";
        background: url('form-bg.jpg');
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }

}

form {
    & > label {
        display: block;
        margin-top: 30px;
    
        &.required::after {
            content: '\2732';
            color: #dd3333;
            vertical-align: super;
            font-size: .7rem;
            padding-left: 5px;
        }
    }

    ul, ol {
        /* used in radio buttons */
        padding-left: 1.0rem;
        font-size: .9rem;

        li {
            list-style-type: none;
        }
    }

    .form--actions {
        @extend .clear;

        margin: 50px 0 0 0;
        padding: 30px 0 20px;
        border-top: solid 2px #fff;

        a {
            text-decoration: none;
        }

        .nav--next,
        .nav--send {
            font-weight: bold;
            margin-left: 20px;
            text-transform: uppercase;
        }

        .nav--prev::before {
            content: '\21E6 ';
        }
        .nav--next::after {
            content: ' \21E8';
        }
        .nav--send::after {
            content: ' \2713';
        }


        &__main {
            /* main form actions right floated */
            display: block;
            float: right;
            text-align: right;
        }
    }
}