{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link type="text/x-scss" href="{% static 'contactForm/contact.scss' %}" rel="stylesheet" media="screen" />
{% endblock styles %}

{% block content %}
<form id="contact--form" method="post">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="form--alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="form--alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}

    {% csrf_token %}
    {{ form }}
    
    <div class="form--actions">

        {% if step > 1 %}
            <a href="{{ step|add:-1 }}" class="nav--prev">Prev</a>
        {% endif %}
     

        <div class="form--actions__main">
            <a href="/cancel" class="nav--cancel">cancel</a>

            {% if step < step_last %}
                <button type="submit" class="nav--next">Next</button>
            {% else %}
                <button type="submit" class="nav--send">Send</button>
            {% endif %}
        </div>

    </div>
</form>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'contactForm/contact.js' %}"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) { 
            // initialize JS for contact form passing container as parameter
            general.ContactForm.init(document.getElementById('contact--form'));
        });
    </script>
{% endblock scripts %}